<% title "Exhibitions" %>

<% form_for @search do |f| %>
  <ul class="prepend-2 span-20 append-2 inline">
    <li>
    <%= f.label :title_like, "Title" %>
    <%= f.text_field :title_like, :size => 27 %>
    </li>
    <li>
    <%= f.label :museum_id_equals, "Museum" %>
    <%= f.collection_select :museum_id_equals, Museum.all, :id, :name, :include_blank => true %>
    </li>
    <li>
    <%= f.label :date_open, "Date" %>
    <%= f.text_field :date_open_gte, :size => 10, :value => "From" %> - <%= f.text_field :date_close_lte, :size => 10, :value => "To" %>
    </li>

    <li><%= f.submit "search" %></li>
  </ul>
<% end %>

<table>
  <tr>
    <th><%= order @search, :by => :title %></th>
    <th><%= order @search, :by => :museum_name %></th>
    <th><%= order @search, :by => :date_open %></th>
    <th><%= order @search, :by => :date_close %></th>
  </tr>
  <% for exhibition in @exhibitions %>
    <tr>
      <td><%= link_to exhibition.title, exhibition.url %></td>
      <td><%= link_to exhibition.museum.name, exhibition.museum %>
      <td><%=h exhibition.date_open %></td>
      <td><%=h exhibition.date_close %></td>
      <td><%= link_to "Show", exhibition %></td>
      <td><%= link_to "Edit", edit_exhibition_path(exhibition) %></td>
      <td><%= link_to "Destroy", exhibition, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Exhibition", new_exhibition_path %></p>
