<% title "Museums" %>

<table>
  <tr>
    <th>Name</th>
    <th>Location</th>
    <th>Telephone</th>
  </tr>
  <% for museum in @museums %>
    <tr>
      <td><%=h museum.name %></td>
      <td><%=h museum.location %></td>
      <td><%=h museum.telephone %></td>
      <td><%= link_to "Show", museum %></td>
      <td><%= link_to "Edit", edit_museum_path(museum) %></td>
      <td><%= link_to "Destroy", museum, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Museum", new_museum_path %></p>
