<% title "Museums" %>

<table>
  <tr>
    <th>Name</th>
    <th>Location</th>
    <th>Telephone</th>
  </tr>
  <% for museum in @museums %>
    <tr>
      <td><%= link_to museum.name, museum %></td>
      <td><%=h museum.location %></td>
      <td><%=h number_to_phone(museum.telephone) %></td>
      <td><%= link_to "&nbsp", { :controller => 'museum', :action => 'edit' }, :class => 'ss_sprite ss_page_edit small' -%></td>
      <td><%= link_to ("&nbsp", {:action => "destroy", :id => museum }, :confirm => "Are you sure?", :method => :delete, :class => 'ss_sprite ss_delete small') %></td>
    </tr>
  <% end %>
</table>
<p><%= link_to "New Museum", new_museum_path %></p>
