<% title "Museum" %>

<div class="museum">
  <%= image_tag @museum.photo.url(:small) %>
  <br />

<p>
  <strong>Name:</strong>
  <%=h @museum.name %><br />
  <strong>Location:</strong>
  <%=h @museum.location %><br />
  <strong>Telephone:</strong>
  <%=h number_to_phone(@museum.telephone) %><br />
  <strong>Hours:</strong>
  <%=h @museum.hours %><br />
  <strong>Website:</strong>
  <%= link_to @museum.website, @museum.website %><br />
</p>
<div id="map"><div id="mapMarker"></div></div>
</div>

  <ul><strong>Current Exhibitions:</strong>
    <% @museum.exhibitions.current.each do |l| %>
    <li><%= link_to l.title, l %></li>
    <% end %>
  </ul>  
  <ul><strong>Upcoming Exhibitions:</strong>
    <% @museum.exhibitions.upcoming.each do |l| %>
    <li><%= link_to l.title, l %></li>
    <% end %>
  </ul>



<p>
  <%= link_to "Edit", edit_museum_path(@museum) %> |
  <%= link_to "Destroy", @museum, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", museums_path %>
</p>
<script type="text/javascript">
  google.load("maps", "2");
  
  // Call this function when the page has been loaded
  function initialize() {
    function createMarker(point,html) {
      // ======== Add a "directions" link ======
      html += '<br> <a href="http://maps.google.com/maps?saddr=&daddr=' + point.toUrlValue() + '" target ="_blank">Click for directions<\/a>';

      var marker = new GMarker(point);
      GEvent.addListener(marker, "click", function() {
        marker.openInfoWindowHtml(html);
      });
      return marker;
    }
    
    var map = new google.maps.Map2(document.getElementById("map"));
    map.setCenter(new GLatLng(<%= @address.latitude %>, <%= @address.longitude %>), 16);
    map.addControl(new GSmallMapControl());
    
    var point = new GLatLng(<%= @address.latitude %>, <%= @address.longitude %>);
    var marker = createMarker(point,'<b>LACMA</b> <br /> <%= @address.street %><br /><%= @address.city %> <%= @address.state %> <%= @address.zip %>')
    map.addOverlay(marker);

  }
  google.setOnLoadCallback(initialize);
  
</script>

