<% title "Museum" %>

<div class="museum">
  <%= image_tag @museum.photo.url(:small) %>
  <br />

<p>
  <strong>Name:</strong>
  <%=h @museum.name %><br />
  <strong>Location:</strong>
  <%=h @museum.location %><br />
  <strong>Telephone:</strong>
  <%=h @museum.telephone %>
</p>
</div>

  <ul><strong>Current Exhibitions:</strong>
    <% @museum.exhibitions.each do |l| %>
    <li><%= l.title %></li>
    <% end %>
  </ul>  

<p>
  <%= link_to "Edit", edit_museum_path(@museum) %> |
  <%= link_to "Destroy", @museum, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", museums_path %>
</p>
